.icon-wrapper {
  margin: 15px 25px;
  background-color: whitesmoke;
  border-radius: 50%;
  display: flex;
  width: 158px;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: #88a5bf7a 6px 2px 16px 0px, #ffffffcc -6px -2px 16px 0px;
}
