.hero-image-background {
  background-image: url("../../assets/images/background-img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
  height: 100vh;
  padding-top: 15%;

  .hero-content {
    position: relative;
    padding-top: 10px;

    img {
      width: 50%;
    }

    .header {
      margin: 0;
      letter-spacing: 1.5px;
      color: #cc005f;
      font-weight: 600;
    }

    .subTitle {
      color: #fff;
    }
    .header-subTitle {
      font-family: "Karantina", cursive;
      word-spacing: 2px;
    }
  }
}

@media only screen and (max-width: 3000px) {
  .hero-content {
    top: 100px;

    img {
      width: 250px;
    }

    .heroBigHeader :first-child {
      font-size: 2.7rem;
    }

    .heroBigHeader :last-child {
      font-size: 3rem;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .hero-content {
    top: 160px;
    img {
      width: 200px;
    }

    .heroBigHeader :first-child {
      font-size: 2.4rem;
    }

    .heroBigHeader :last-child {
      font-size: 3rem;
    }
  }
}

@media only screen and (max-width: 700px) {
  .hero-content {
    top: 199px;
    img {
      width: 250px;
    }

    .heroBigHeader :first-child {
      font-size: 2.4rem;
    }

    .heroBigHeader :last-child {
      font-size: 3rem;
    }
  }
}

@media only screen and (max-width: 400px) {
  .hero-content {
    top: 191px;
    img {
      width: 200px;
    }

    .heroBigHeader :first-child {
      font-size: 2.3rem;
    }

    .heroBigHeader :last-child {
      font-size: 1.6rem;
    }
  }
}
@media only screen and (max-width: 375px) {
  .hero-image-background {
    height: 80vh;
    .hero-content {
      top: 177px;
      padding: 10px !important;
      img {
        width: 130px;
      }

      .heroBigHeader :first-child {
        font-size: 1.7rem;
      }

      .heroBigHeader :last-child {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .hero-image-background {
    height: 100vh;
    .hero-content {
      top: 187px;
      padding: 10px !important;
      img {
        width: 130px;
      }

      .heroBigHeader :first-child {
        font-size: 1.7rem;
      }

      .heroBigHeader :last-child {
        font-size: 1rem;
      }
    }
  }
}
